@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.loader.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.loader.container .spinner {
  width: 30px;
  height: 30px;
  transform-origin: center;
  animation: spin 0.75s infinite linear;
}
