#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.instructions {
  text-overflow: ellipsis;
  overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
